.questionnaire {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 600px;
    margin: auto;
}

.question {
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    .questionnaire {
        flex-direction: row;
    }
}